.header {
    max-width: 1100px;
    width: 100%;
    height: 293px;
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    align-items: start;
    position: relative;
    margin: 0 auto;
}

.header__menu {
    max-width: 391.48px;
    width: 100%;
    height: 22px;
    margin: 133px 0 138px 50px;
    justify-self: start;
}

.header__menu-link,
.footer__menu-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 3.0px;
}

.header__links-list-item_no-bullet .header__menu-link,
.footer__menu-link_active {
    text-decoration: none;
}

.address a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 3.5px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 22px;
    font-size: 18px;
    align-items: center;
}

.header__links-list-item {
    list-style: none;
    display: flex;
    align-items: center;
}

.header__links-list-item:not(:last-child) {
    margin-right: 33px;
    position: relative;
}

.header__links-list-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -19.7px;
    top: 58%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-image: url('../images/list_marker.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.header__links-list-item_no-bullet::after {
    content: none;
}

.header__links-list-item_no-bullet {
    list-style: none;
    font-size: 18px;
}

.header__logo {
    width: 148px;
    height: 105px;
    margin: 93.5px auto 96px;
    justify-self: center;
    grid-column: 2;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    font-style: normal;
    line-height: 1.38;
    width: 240px;
    height: 98px;
    font-size: 18px;
}

.header__address a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 4.5px;
}

.header__address {
    justify-self: end;
    margin: 95px 50px 100px 0;
    grid-column: 3;
}

.cover {
    position: relative;
    min-height: 757px;
    background: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1100px;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    position: relative;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
}

.aligned-text {
    display: block;
    line-height: 1.1;
    padding: 169px 50px 0 50px;
}

.aligned-text_center {
    text-align: center;
    line-height: 1.45;
    padding: 7.5px 21px 0 51px;
}

.aligned-text_right {
    text-align: right;
    line-height: 1.0;
    padding: 12.5px 20px 0 0;
}

.cover__description {
    position: relative;
    padding: 86px 50px 61px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 79px;
    z-index: 1;
}

.cover__description-text {
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 90%;
    word-spacing: 18.3px;
    margin: 39px 0 0 -44px;
}

.bet-button {
    border: 1px solid #fff;
    min-width: 256px;
    min-height: 51px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background: transparent;
    cursor: pointer;
    margin: 0 -14px -37px 0;
}

.lots {
    padding: 179px 24px 146px 24px;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

.lots__heading {
    margin-top: 3px;
    margin-bottom: -1px;
    padding-left: 40px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
}

.lots__card-list {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    gap: 25px;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.lots__card-list-item {
    display: flex;
    flex-direction: column;
}

.card {
    max-width: 334px;
    width: 100%;
    height: 596px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card_type_film {
    background: url(../images/card-lot-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 549px 598px;
}

.card_type_book {
    background: url(../images/card-lot-02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 535px 596px;
}

.card_type_picture {
    background: url(../images/card-lot-03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 569px 596px;
}

.card__title {
    position: relative;
    padding: 50px 40px 0 40px;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.20;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
    z-index: 2;
}

.card__text {
    position: relative;
    padding: 0 40px 48px 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.20;
    color: #fff;
    z-index: 2;
    margin-top: 34px;
}

.lots__look-more-link {
    font-size: 20px;
    padding-top: 30px;
    padding-left: 40px;
    color: #000;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 4.5px;
}

.about {
    height: 595px;
    padding: 10px 24px 180px 24px;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

.about__column {
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: 240px 1fr;
    justify-items: center;
}

.about__logo {
    grid-column: 1;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: rgb(0 0 0);
    border-radius: 50%;
    padding: 35px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    padding: 101px 389px 0 10px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
}

.about__text {
    margin: 8px 0 0 25px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 3px;
    font-size: 20px;
    line-height: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 154px 50px 88px 50px;
    max-width: 1100px;
    width: 100%;
    color: #000;
    font-size: 18px;
    place-content: center;
}

.footer__address {
    justify-self: start;
}

.footer__menu-list {
    justify-self: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    margin: 1.5px 0 0 -99px;
}

.footer__menu-link {
    list-style: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
    list-style: none;
    margin: 0 0 0 27px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

@media (max-width: 768px) {
    .header__menu {
        margin-left: 20px;
    }
    
    .header__address {
        margin-right: 20px;
    }
    
    .footer {
        margin: 154px 20px 88px 20px;
    }
    
    .lots {
        padding: 179px 20px 146px 20px;
    }
    
    .about {
        padding: 10px 20px 180px 20px;
    }
}